# Python
__pycache__/
*.py[cod]
*$py.class

# Virtualenv
.venv/
venv/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3*.bak
media/
staticfiles/
tmp/
output/

# Env
.env
.env*.bak
.shop-secrets/
.shop-load-tests/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
